<div class="contacts-list">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="contacts-title pull-left">Contact List</h1>
          <a ng-href="#/add-new-contact" class="contacts-title--btn-add pull-right">
            <i class="glyphicon glyphicon-plus"></i>
            New Contact
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
      <div class="contacts-list__items list-group">
          <!-- ngRepeat -->
          <div class="contacts-item list-group-item">
            <p class="contacts-item__name">Alejandro Sosa</p>
            <p class="contacts-item__details">
              <span>alejandrojsr7@gmail.com</span>
              <span>+57 1 319 544 6000</span>
            </p>
          </div>
          <!-- /ngRepeat -->
        </div>
    </div>
  </div>
</div>